<template name="addForm">
    <div class="rows">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <form class="form-inline" id="tag-form">
                <div class="form-group">
                    <label for="exampleInputName2">Add Tag</label>
                    <input type="text" class="form-control" id="tagName" placeholder="Tag Name">
                </div>
                <button type="submit" class="btn btn-default btn-primary">Create</button>
            </form>
        </div>
    </div>
</template>
