<template name="addForm">
    <div class="rows">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Tag</h3>
                </div>
                <div class="panel-body">
                    <form class="form-inline" id="tag-form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="tagName" placeholder="Tag Name">
                        </div>
                        <button type="submit" class="btn btn-default btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
