<template name="selectPicker">
    <div class="rows">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Select Single Tag</h3>
                </div>
                <div class="panel-body">
                    <select id="selectPicker" name="tags" class="col-md-12">
                        {{#each tags}}
                        <option value="{_id}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
    </div>
</template>
